/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p{
    font-style:normal;
    padding-left: 5px;
}

header{
    grid-area: header;
    background-color: rgb(234, 173, 253);
    color: white;
    text-align: center;
    padding: 10px;
}

main{
    grid-area: main;
}

.aside-bar{ 
    background-color: rgb(246, 200, 225);
    min-height: 20vh;
    padding: 15px;
}

.aside-bar .items{
    display: flex;
}

.aside-bar ul{
    list-style: none;
}

.aside-bar p{
    font-style:italic;
}

.grilla .card{
    text-align: center;
    padding: 10px;
}

.grilla .card img{
    width: 200px;
    height: 200px;
}

.grilla .card button{
    padding: 5px;
    background-color: rgb(235, 148, 196);
    color: white;
    width: 100%;
    font-size: 20px;
    border: none;
}

.grilla .card button:hover{
    background-color: rgb(243, 68, 164);
}

footer{
    grid-area: footer;
    text-align: center;
    padding: 10px; 
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'header''header'
    'main''main'
     'footer''footer';
     gap: 10px;
}

.grid-container main{
    display: grid;
    grid-template-columns: auto 80%;
    gap: 10px;
}

.grid-container .grilla{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
